{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="pagination-info">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        &nbsp;|&nbsp;
        {{ page_obj.paginator.count }} record{{ page_obj.paginator.count|pluralize }}
    </span>
    <div class="pagination-actions">
        {% if page_obj.has_previous %}
            <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&order={{ request.GET.order }}&{% endif %}page=1" class="btn-pagination">&laquo; First</a>
            <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&order={{ request.GET.order }}&{% endif %}page={{ page_obj.previous_page_number }}" class="btn-pagination">&lsaquo; Prev</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&order={{ request.GET.order }}&{% endif %}page={{ page_obj.next_page_number }}" class="btn-pagination">Next &rsaquo;</a>
            <a href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&order={{ request.GET.order }}&{% endif %}page={{ page_obj.paginator.num_pages }}" class="btn-pagination">Last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endif %}
